.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Body styles */

#toggle-btn__container {
  grid-template-columns: 1fr 1fr;
}

.toggle-btn {
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 25px;
  background-color: #04aa6d;
  color: white;
  width: 20rem;
  font-size: 1.3rem;
  border: white solid 1px;
}

.toggle-btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle-btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#investment-table {
  margin: 3rem 0;
  text-align: left;
  width: 60%;
  border-collapse: collapse;
}

#investment {
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#calculate-btn {
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #04aa6d;
  color: white;
}

#calculate-btn:hover,
.toggle-btn:hover,
.toggle-btn:focus {
  cursor: pointer;
  background-color: #05c780;
}

.table-heading,
.table-item {
  border: 1px solid #ddd;
  padding: 1rem;
}

.table-item {
  width: 33%;
}

#title {
  font-size: 3rem;
  padding: 1rem;
}

/* Responsive styles  */

@media (max-width: 672px) {
  .App-header {
    font-size: 1rem;
  }
}

@media (max-width: 522px) {
  .App-header {
    font-size: 0.7rem;
  }
}

@media (max-width: 418px) {
  .App-header {
    font-size: 0.5rem;
  }
}

@media (max-width: 700px) {
  .toggle-btn {
    width: auto;
  }
}
